<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="RepublicSystemConnectionString"
        connectionString="Data Source=W10B304PC08\SQLEXPRESS;Initial Catalog=RepublicSystem;User ID=prova;Password=12345aA"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>